<div class="center hero-unit">
  <h1>SimpleRFP</h1>

  <h2>
    Welcome to SimpleRFP.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "SimpleRFP"), 'http://simplerfp.com/' %>
